.navbar {
  position: absolute;
  background: transparent;
  border: none;
  min-height: 56px;
}

.navbar-brand, .navbar-nav > li > a {
  color: white !important;
}

.container {
  /* AFFIX STARTING POSITION */
  margin-top: 60px;
}

#my-affix {
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  -webkit-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;

  &.affix {
    background-color: #0a2b47;
    border-color: #0a2b47;
    width: 100%;

    .container {
      margin-top: 0;
    }
  }
}